
body{
    background-image: linear-gradient(to left, black ,rgba(255, 255, 255, 0));
}
/* .modal{
    display: auto;
    width: auto;
    height: auto ;
} */
.modal-content{
    display: block;
    border: 2px solid pink;
    border-radius: 40px;
    width: 50%;
    height: 40%;
    margin-top: 10%;
    box-shadow: 0 0 60px red;
    background-image: linear-gradient(to right,rgb(46, 42, 42) ,rgb(255, 255, 255));
}
.animate{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from{-webkit-transform: scale(0);}
    to{-webkit-transform: scale(1);}
}
@keyframes animatezoom {
    from{transform: scale(0);}
    to{transform: scale(1);}
}
/* Basic styling for the input */
input[type="password"] {
    padding: 5px;
    border: 1px solid #cccccc00;
    border-radius: 5px;
    font-size: 12px;
}
    
    /* Styling when the input is focused */
input[type="password"]:focus {
    outline: none; /* Remove default focus outline */
    border-color: rgb(255, 255, 0); /* Change border color on focus */
    box-shadow: 0 0 40px rgb(255, 255, 0); 
    background-color: yellow;/* Add a subtle box-shadow on focus */
}
    
    /* Example of changing background color on hover */
input[type="password"]:hover {
        background-color: rgb(115, 113, 248);
        box-shadow: 0 0 40px rgb(43, 0, 255); 
}

input[type="text"] {
        padding: 5px;
        border: 1px solid #cccccc00;
        border-radius: 5px;
        font-size: 12px;
}
        
        /* Styling when the input is focused */
input[type="text"]:focus {
        outline: none; /* Remove default focus outline */
        border-color: rgb(83, 255, 30); /* Change border color on focus */
        box-shadow: 0 0 40px rgba(119, 253, 2, 0.959);
        background-color:green; /* Add a subtle box-shadow on focus */
}
        
        /* Example of changing background color on hover */
input[type="text"]:hover {
        background-color: rgb(115, 113, 248);
        box-shadow: 0 0 40px rgb(43, 0, 255); 

        
}
.bot{
    margin: 5px;
    border: 1px;
    border-radius: 20px;
    width: 20%;
    height: 7%;
    margin-left: 50px;
    margin-top: 20px;
    background-color: rgba(90, 145, 54, 0.363);
    box-shadow: 0 0 40px green;
    padding: 5px;
    box-sizing: border-box ;
            
}

.container{
    text-align: center;
    border: none;
    background-color: #cccccc00;
}
   
