body{
    width: auto;
    height: auto;
    background-image: linear-gradient(to right,blue,orangered) ;
}
.iner-part{
    display: block;
    width:500px;
    height: 500px;
    background-color: orangered;
    border: 2px;
    border-radius: 50px;
    margin-top: 50px;

    
}
.iner-part1:hover{
    display: block;
    width:500px;
    height: 500px;
    background-color: orangered;
    border: 2px;
    border-radius: 50px;
    margin-top: 50px;

    
}
.iner-part1{
    display:block;
    width:500px;
    height: 500px;
    background-color:blue;
    border: 2px;
    border-radius: 50px;
    margin-top: 50px;
    
    
    
}
.iner-part:hover{
    display: block;
    width:500px;
    height: 500px;
    background-color:blue;
    border: 2px;
    border-radius: 50px;
    margin-top: 50px;

    
}
.bot{
    margin: 5px;
    border: 1px;
    border-radius: 20px;
    width: 20%;
    height: 7%;
    margin-left: 50px;
    margin-top: 20px;
    background-color: rgba(90, 145, 54, 0);
    box-shadow: 0 0 40px rgba(143, 62, 77, 0.546);
    padding: 5px;
    box-sizing: border-box ;
            
}

